@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CFT Estatal Arica y Parinacota</h1>
    <p><h2>Calculo de Notas</h2></p>
    <img src="~/css/logo_cft.jpg" height="200" width="300">
    <p><a href="http://localhost:5263/estudiantes" class="btn btn-primary">Estudiantes</a></p>
    <p><a href="http://localhost:5263/asignaturas" class="btn btn-primary">Asignatura</a></p>
</div>
